<html>

<body>
    <div class="header">
        <h1>Welcome to Sigil</h1>
    </div>
    <div class="container">
        <p>It appears that {{creator.username}} has created an account ({{user.username}}) for you.</p>
        <p>You can activate your account using <a href="{{validate_url}}?token={{token}}">the following link</a></p>
        <p>You might as well be required to setup 2 factor authentication, so keep your smartphone next to you and ensure you have installed <a href="https://support.google.com/accounts/answer/1066447?hl=en">Google Authenticator app</a> from your phone marketplace.</p>
    </div>
    <div class="footer">
        <p>
            Thanks for using Sigil.
        </p>
    </div>
</body>

</html>
